
.App {
  margin: 0;
  padding: 0;
  width: 520px;
  height: 85%;
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: #fbefef;
  font-family: "Roboto", sans-serif;
  border-radius: 30px;
}

.menu-de-accesibilidad {
  display: block;
  color: rgb(0, 0, 0);
  margin: 20px;
  font-weight: 600;
  background-color: #fbefef;
  padding-left: 33px;
  font-size: 25px;
  border-top-right-radius: 30px;
}

.resetSettings {
  margin: 17px;
  width: 95%;
  background-color: #e9b5b5;
  color: #000000;
  font-size: 1.7rem;
  height: 50px;
  text-align: center;
  display: flex;
  line-height: 50px;
  padding-left: 2rem;
  border-radius: 2em;
  cursor: pointer;
}
.resetSettings > img {
  width: 35px;
  align-items: center;
  align-content: center;
  padding-top: 0.3rem;
  padding-right: 32px;
}

.accordion-container {
  background-color: #e5e4e4;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #e9b5b5;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  display: block;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), 
and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #e2d1d1;
}

.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.accordion-content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.accordion-content-display-none {
  display: none;
  width: 100%;
  flex-wrap: wrap;
}



.options {
  font-size: large;
  margin: 6px;
  width: 160px;
  height: 120px;
  border-radius: 8px;
  color: #000000;
  border-color: #ffffff;
  border-style: none;
}
.options > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55px;
}

.options:hover {
  border-radius: 8px;
  color: #000000;
  cursor: pointer;
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-color: #ff5757;
}

/* Small Screen Responsive */
@media only screen and (max-width: 550px) {
  .app {
    width: 100%;
  }

  .options {
    width: 250px;
  }
}
